.content-box__wiki {
    border: 1px solid;
}

.box {
    margin: 5% 10%;
    padding: 2%;
    width: 35%;
}

.rtl__wiki {
    direction: rtl;
}

.ltr__wiki {
    direction: ltr;
}

.level_2{
    margin: 0 5%; 
}

.level_3{
    margin: 0 10%; 
}

.content-form__wiki {
    margin: 5% 10%;
    width: 60%;
    font-size: 24px;
}

input,
select,
button {
    height: 24px;
    width: 200px;
    border: 1px solid;
}

@media (max-width: 1008px) {
    .content-form__wiki,
    .box  {
        width: 90%;
        margin: 10% 5%;
        font-size: 45px;
    }

    input,
    select,
    button {
        height: 45px;
        width: 250px;
        font-size: 30px;
    }
}